.dashboardLayout {
    max-width: 100vw;
    margin: 0;
}

.dashboardHeader {
    border-bottom: 2px solid rgba(0, 0, 0, 0.05);
    display: flex;
    max-width: 100%;
	height: 10vh;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px;
    margin: 0 !important;
}

.toggleSidebarBtn {
    font-size: 20px;
    color: black !important;
    border: none;
    background-color: transparent;
    padding:20px  auto !important;
    margin-right: 14px;
}


.headerLogo {
    display: flex;
	max-height: 2.5em;
    margin: 0;
}

.headerLogo img{
    display: flex;
	max-height: 2.5em;
    margin: 0;
}

.wrapperContainer {
    display: flex;
    max-width: 100vw;
    margin: 0;
    background-color: var(--bg-color1);
}

.sidebarHeader {
    /* background-color: blue; */
}

/* Estilo do Sidebar */
.sidebar {
    display: block;
    max-width: 240px;
    min-height: 0%;
    background-color: var(--bg-color1);
    color: var(--text-color1);
    padding: 16px;
    border-right: 2px solid rgba(0, 0, 0, 0.05);
}

.collapsed {
    display: none;
}

.sidebarPerfil {
    text-align: center;
    font-size: 12px;
    margin-bottom: 25px;
}

.sidebarPerfil img {
    height: 4rem;
    border-radius: 50%;
    background-color: var(--cor1);
    margin: 12px 0 10px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar a {
    text-decoration: none;
    color: var(--text-color1);
    border-radius: 5px;
    padding: 10px 5px;
    display: block;
    transition: background-color 0.3s ease;
    margin-bottom: 12px;
}

.sidebar a:hover {
    background-color: var(--cor0);
}

.active {
    font-weight: bold;
    color: var(--bg-color1) !important;
    background-color: var(--cor1) !important;
}

.dadosContainer {
    overflow-x: hidden;
    max-width: 96vw;
    display: flex;
    flex-direction: column;
    padding: 16px;
;
}

.dadosContainer section {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 16px;
    margin: 10px;
    border-radius: 20px;
	box-shadow: 2px 5px 8px 0 rgba(0, 0, 0, 0.1);
}

@media screen and (min-width: 960px) {
    .dadosContainer {
        overflow: hidden;
        width: calc(100vw - 248px);
        display: flex;
        flex-direction: column;
        padding: 16px;
    }
}