/* header */
header #menu {
	/* menu fixo */
	/* overflow: hidden;
  position: fixed;
  top: 0;*/
	width: 100%;
	height: 10vh;

	background: var(--bg-color1);
	box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.1) !important;
	/*border: 1px solid red;*/
	/* margin-right: 0 !important; */
}

#menu .logo {
	max-height: 2.5em;
}

#menu p {
	font-size: 10pt;
	margin: 0;
}

/* #menu .nav-item {
} */

#menu .nav-item .active {
	font-weight: bold;
	color: var(--cor1) !important;
	/* border-bottom: 3px solid var(--cor1); */
}

#subheader {
	background: var(--bg-color2);
	margin-top: -1em;
	margin-bottom: 0;
}

#subheader h1 {
	padding: 1em;
	padding-bottom: 0;
	margin: 0 !important;
}
